@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}

.button-greeting-div{
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 4rem;
  line-height: 1.1;
}

.greeting-text-p {
  font-size: 1.7rem;
  line-height: 1.4;
}

.hero-image {
  min-height: calc(100vh - 104px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

@include media-breakpoint-down(sm) {
  .button-greeting-div{
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 1.7rem;
  }
  .greeting-text-p {
    font-size: 1rem;
    line-height: normal;
    text-align: center;
  }
}

@include media-breakpoint-down(md) {
  .hero-image {
    min-height: 0;
    height: 81.04vw;
  }
  .greeting-text {
    font-size: 2.8rem;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 1.1rem;
  }
}
