.portofolio-wrapper {
  /* display: flex; */
}
/* .portofolio-text-div {
  margin-left: 50px;
}

.portofolio-wrapper > * {
  flex: 1;
  margin-bottom: 30px;
}

.portofolio-image-div > img {
  max-width: 100%;
  height: auto;
} */

.portofolio-title {
  font-size: 56px;
  font-weight: 400;
  flex: 1;
  margin-bottom: 30px;
}

/* Media Query */
@media (max-width: 1380px) {
  .portofolio-title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .portofolio-title {
    font-size: 30px;
    text-align: center;
  }
  /* .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .portofolio-wrapper {
    flex-direction: column
  }
  .portofolio-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .portofolio-text {
    font-size: 16px;
  }
  .portofolio-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .portofolio-image-div {
    order: 2;
  } */
}


.portofolio-item { 
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
.portofolio-item > * {
  flex: 1;
  /* flex: 1 0 50%; */
}

.portofolio-item-logo-wrapper{
  display: inline-block;
  padding: 8px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 18px -8px;
}
img.portofolio-item-logo{
  height: 40px;
  width: auto;
}
.portofolio-item .title-wrapper{
  flex: 1;
  display: inline-block;
  padding-left: 16px;
}
.portofolio-item .title {
  display: inline-block;
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  line-height: 1;
} 
.portofolio-item .sub-title {
  color: #868e96;
  margin: 0;
  text-transform: uppercase;
} 

.portofolio-item img.portofolio-item-image {
  max-width: 100%;
  height: auto;
}

.contribution-bar {
  display: flex;
  list-style-type: none;
  padding: 0px;
  width: 100%;
}
.contribution-bar > li {
  display: block;
  flex: 1 1 0%;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.contribution-bar > li > div {
  background-color: rgb(108, 99, 255);
  height: 16px;
  position: absolute;
  top: 16px;
  width: 100%;
}
.contribution-bar > li:first-child > div {
  left: 50%;
}
.contribution-bar > li:last-child > div {
  right: 50%;
}
.contribution-bar > li > span {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  border-radius: 50px;
  font-size: 30px;
  position: relative;
  background-color: rgb(108, 99, 255);
}