.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 2.7rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.software-skill-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.software-skill-inline > i, .software-skill-inline > span {
  color: #868e96;
}

.software-skill-inline > i:hover, .software-skill-inline > span:hover {
  color: #645beb;
}

.software-skill-inline.text-skill {
  cursor: default;
}

.software-skill-inline.text-skill > span {
  font-weight: 600;
  font-size: 32px;
  vertical-align: middle;
  display: inline-block;
  padding-bottom: 14px;
}
