// @import './common.scss';
@import "./custom-bootstrap";

@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url('./assests/fonts/Montserrat-Regular.ttf') format('woff');
  font-display: swap;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}
